/* app wide styles */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Lato", sans-serif;
}
hr {
  border-top: 0.2px solid #bbb;
}

.nwa-green-text {
  color: #006837;
}
.nwa-box-wrapper {
  position: relative;
  padding: 5px;
  border: 1pt solid #bbb;
  box-shadow: 2px 2px 1px 0px rgba(204, 204, 204, 0.75);
}

/* main wrapper styles ******************************************/
.nwa-header-wrapper {
  margin-bottom: 10px;
}
.nwa-header-wrapper h1 {
  margin: 5px 0px;
}
.nwa-header-wrapper div {
  font-size: 16px;
}

.main-site-wrapper {
  margin: auto;
  width: 1000px;
  padding: 10px;
  position: relative;
  margin: auto;
}
.nwa-intervention-cb-header-wrapper {
  display: flex;
  align-items: center;
}

.nwa-info-icon {
  margin-top: 7px;
  margin-left: 3px;
}
.nwa-info-icon:hover {
  cursor: pointer;
}
h3 {
  margin: 3px;
}
.nwa-main-content-wrapper {
  /* width: 1000px;
    padding: 10px;
    position: relative;
    margin: auto; */
  display: flex;
  flex-direction: row-reverse;
}
.nwa-main-cb-wrapper {
  width: 275px;
}
.nwa-intervention-main-cb {
  display: flex;
}
.nwa-intervention-main-2-cb {
  border-left: 0.2px solid #bbb;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/* popup styles */

.nwa-popup-wrapper {
  position: fixed;
  display: none;
  top: 814px;
  left: 855px;
  background-color: rgba(211, 211, 211, 0.7);
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

/* map wrapper area ********************************************/

.nwa-map-wrapper {
  height: 486px;
  width: 80%;
  margin-left: 10px;
}
#nwa-world-svg:hover {
  cursor: all-scroll;
}
/* map styles */
.country-on {
  /* stroke: rgb(39, 95, 95) !important; */
  /* stroke-width: 1.5 !important; */
  fill: rgba(136, 184, 184, 1) !important;
}
.nwa-countries {
  fill: rgb(161, 161, 161);
  stroke: #fff;
  stroke-linejoin: round;
}
.nwa-countries:hover {
  cursor: pointer;
}
.nwa-fullExtent-wrapper {
  display: flex;
  width: 100%;
  /* position: relative; */
  text-align: center;
  height: 20px;
  margin-left: -10px;
  top: 25px;
  color: #006837;
  font-size: 15px;
  margin-bottom: 5px;
}
.nwa-fullExtent {
  /* position: fixed; */
  color: #006837;
  border-radius: 5px;
  font-weight: bold;
  margin-left: auto;
}
.nwa-fullExtent:hover {
  cursor: pointer;
}
.nwa-fullExtent:active {
  transform: translate(1px, 1px);
}
.nwa-fullExtent:focus {
  outline: 0 !important;
}
/* legend styles */

.nwa-legend-bar {
  background-image: linear-gradient(
    to right,
    #d9f0a3,
    #c4e398,
    #b0d68d,
    #9bca83,
    #87bd79,
    #77b270,
    #67a667,
    #569b5f,
    #458e55,
    #33814a,
    #1f7541,
    #006837
  );
  height: 20px;
  width: 200px;
  border: 1px solid rgba(0, 20, 0, 0.4);
}
.nwa-legend-wrapper {
  /* position: absolute;
    top: 300px; */
  margin-top: 418px;
  margin-left: 27%;
  position: absolute;
  width: 200px;
  text-align: center;
}
.nwa-legend-text {
  display: flex;
}
.nwa-legend-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px;
}

/* metric area styles */
.nwa-metrics-wrapper {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nwa-large-metric {
  font-size: 35px;
  color: #006837;
}

.nwa-metric-sub-title {
  font-size: 18px;
}
.nwa-metric-units {
  font-size: 14px;
}

/* styles for country dropdown and report button */
.nwa-view-report-btn {
  height: 14px;
  background-color: #31a354;
  color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.2);
  padding: 5px;
  margin-left: auto;
  text-decoration: none;
  font-size: 13px;
}
.nwa-view-report-btn:focus {
  outline: 0 !important;
}
.nwa-view-report-btn:hover {
  cursor: pointer;
}
.nwa-view-report-btn:active {
  transform: translate(1px, 1px);
  filter: saturate(1.3);
}
.nwa-link-wrapper {
  margin-top: -8px;
  margin-left: 6px;
}

/* .nwa-disable-link {
  filter: saturate(0.5);
}
.nwa-disable-link:hover {
  cursor: not-allowed;
} */

.nwa-country-dd-wrapper {
  display: flex;
  margin-top: 10px;
}
.nwa-country-dd-wrapper select {
  width: 200px;
}
/* styles for global indicators */

.nwa-global-indicators-wrapper {
  width: 700px;
  margin-left: 297px;
  margin-top: -123px;
  position: relative;
  padding: 5px;
  border: 1pt solid #bbb;
  box-shadow: 2px 2px 1px 0px rgba(204, 204, 204, 0.75);
  background-color: white;
}
/* .nwa-global-indicators-cb {
} */
.nwa-global-indicator-content-wrapper {
  display: flex;
}
.nwa-indicator-wrapper {
  display: none;
  margin-left: 20px;
  height: 100%;
  border-left: 1px solid lightgray;
  padding-left: 20px;
}

.nwa-ndc-wrapper {
  display: flex;
  align-items: center;
  padding-top: 23px;
}
/* .nwa-ndc-wrapper div {
  font-weight: bold;
  font-size: 13px;
} */
.nwa-ndc-wrapper .toggle-btn {
  margin-left: 5px;
}
.nwa-emissions-wrapper {
  padding-top: 12px;
}
.nwa-socio-sub-options,
.nwa-ecological-sub-options {
  margin-left: 17px;
  font-size: 12px;
  margin-bottom: -13px;
  display: none;
}
div.tooltip {
  position: absolute;
  text-align: center;
  height: 30px;
  padding: 3px;
  font: 12px sans-serif;
  background: lightgray;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-weight: bold;
}

/* media queries */
@media screen and (max-width: 1000px) {
  /* body {
    background-color: lightgreen;
  } */
  /* .main-site-wrapper {
    width: 850px;
  } */
  /* .nwa-global-indicators-wrapper {
    width: 540px;
  } */
}
@media screen and (max-width: 1000px) {
  .main-site-wrapper {
    width: 90%;
  }
  .nwa-main-content-wrapper {
    display: block;
    width: 90%;
  }
  .nwa-header-wrapper {
    text-align: center;
  }
  .nwa-map-wrapper {
    width: 90%;
    height: 325px;
    margin-left: 0px;
  }
  .nwa-metrics-wrapper {
    margin-top: 0;
    width: 90%;
  }
  .nwa-main-cb-wrapper {
    margin: auto;
  }
  .nwa-header-wrapper div {
    width: 90%;
  }
  .nwa-legend-wrapper {
    margin-top: 273px;
    width: 160px;
  }
  .nwa-legend-bar {
    height: 10px;
    width: 160px;
  }
  .nwa-global-indicators-wrapper {
    margin: auto;
    margin-top: 10px;
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .main-site-wrapper {
    width: 400px;
  }
  .nwa-header-wrapper h1 {
    width: 400px;
    font-size: 23px;
  }
  .nwa-main-content-wrapper {
    display: block;
    width: 400px;
  }
  .nwa-header-wrapper div {
    width: 400px;
  }
  .nwa-map-wrapper {
    width: 400px;
    height: 325px;
    margin-left: 0px;
  }
  .nwa-legend-wrapper {
    margin-top: 272px;
    width: 160px;
  }
  .nwa-metrics-wrapper {
    width: 400px;
  }
  .nwa-global-indicators-wrapper {
    width: 400px;
  }
}

/* styleguide styles **********************************************/

.form-component {
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.form-component input[type="checkbox"]:checked,
.form-component input[type="radio"]:checked {
  display: none;
}

.form-component input[type="checkbox"],
.form-component input[type="radio"] {
  display: none;
}
.form-component input[type="checkbox"]:checked ~ .check,
.form-component input[type="radio"]:checked ~ .check {
  background: #31a354;
  background: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0.1),
        hsla(0, 0%, 100%, 0)
      )
      0 no-repeat,
    50% no-repeat #31a354;
  border-color: rgba(16, 22, 26, 0.1) rgba(16, 22, 26, 0.1)
    rgba(16, 22, 26, 0.3);
}

.form-component input[type="checkbox"] ~ .check,
.form-component input[type="radio"] ~ .check {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0)) 0 no-repeat,
    50% no-repeat #f5f8fa;
  border: 1px solid;
  border-color: rgba(16, 22, 26, 0.1) rgba(16, 22, 26, 0.1)
    rgba(16, 22, 26, 0.17);
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.1);
  cursor: pointer;
  margin-right: 2px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.form-component .form-text {
  cursor: pointer;
}
.form-component input[type="radio"] ~ .check {
  border-radius: 100%;
}
.form-component input[type="radio"]:checked ~ .check:after {
  border-width: 0;
  background-color: #fff;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  left: 4px;
  top: 4px;
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.2);
}
*,
:after,
:before {
  box-sizing: inherit;
}

*,
:after,
:before {
  box-sizing: inherit;
}
.form-component input[type="checkbox"]:checked ~ .check:after {
  display: inline-block;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  left: 3px;
  top: 0px;
}
/* .form-component input[type="checkbox"]:checked ~ .check:after, */
.form-component input[type="radio"]:checked ~ .check:after {
  display: inline-block;
  width: 4px;
  height: 4px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
}

.toggle-btn {
  padding-left: 5px;

  display: flex;
}
.toggle-btn label {
  padding: 5px;
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.2);
  background-clip: padding-box;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ddd;
  margin: 5px 5px 5px -6px;
  flex: 1;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  color: #222;
}
.toggle-btn input {
  display: none;
}
.toggle-btn input:checked + label {
  color: #fff;
  font-weight: bold;
  background-color: #31a354;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.35),
    0 1px rgba(255, 255, 255, 0.1);
}
